
<div class="container-xxl py-5" xmlns:th="http://www.thymeleaf.org">
	<div class="container">
		<div class="row g-5" th:each="aboutUs:${allAboutUs}">
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"
				style="min-height: 400px;">
				<div class="position-relative h-100">
					<img class="img-fluid position-absolute w-100 h-100"
						th:src="@{'/aboutUs/' + ${aboutUs.image}}" alt="" style="object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
				<h6 class="section-title bg-white text-start text-primary pe-3">About
					Us</h6>
				<h1 class="mb-4" th:text="${aboutUs.schoolName}">Welcome to Star Research Inernational School</h1>
				<p class="mb-4" th:text="${aboutUs.message}">Tempor erat elitr rebum at clita. Diam dolor
					diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et
					lorem et sit.</p>
			</div>
		</div>
	</div>
</div>